<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="favicon.ico"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#fadcb0">
</head>
<body>
    <div style="height: 48px; padding-left: 4px">
        <h1 class="gravity-center-vertical">Counter page</h1>
        <div>Hi there again!</div>
        <div>You are the {{.Counter}} visitor of this page! (Yep, this is improved site from Lab 4)</div>
        <div>Today here you can find DNS configuration for this site and Nginx configuration file</div>
        <div>
            <a href="nginx.conf">nginx.conf</a>
            <img width="533" height="200" src="cloudflare.png">
        </div>
        <div>Some doges again!</div>
        <div style="display: flex">
            <img width="350" height="350" src="doge_orig.jpg">
            <img width="350" height="350" src="doge_ea.jpg">
        </div>
        <div>But today we also got some penguins (only 1) for you, click the link below!</div>
        <a href="penguin.html">Check out penguin</a>
        <div style="height: 80px;"></div>
    </div>
</body>